html.mode-dev .App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px 20px;
}

html.mode-prod .App {
  position: relative;
  width: 320px;
  height: 568px;
  width: 100%;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

html.mode-dev .view {
  border: 1px solid black;
  width: 320px;
  height: 568px;
  box-sizing: border-box;
}

html.mode-prod .view {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.list {
  overflow-y: scroll;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
}

.view {
  display: grid;
  grid-template-columns: [a] 1fr [b];
  grid-template-rows: [a] 50px [b] auto [c] 50px [d];

  padding: 0 3%;
  background-color: white;
}

.content {
  padding-top: 30%;
}

.question-text {
  display: inline-block;
}

.question-text ol {
  text-align: left;
}

.header {
  border-bottom: 1px solid grey;
  position: relative;
}

.header .menu-icon {
  font-size: 0.7em;
  border: 0.5px solid grey;
  padding: 1px 2px 1px 3px;
  border-radius: 15%;
  position: absolute;
  right: 0;
}

.header .back-icon {
  font-size: 0.7em;
  border: 0.5px solid grey;
  padding: 1px 2px 1px 3px;
  border-radius: 15%;
  position: absolute;
  left: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.external-link::after {
  content: ">";
  text-decoration: none;
  display: inline-block;
  padding-left: 0.3em;
}

/* TRANSITIONS ETC */
/* DEV VIEW */

html.mode-dev .view,
html.mode-dev .view-menu.open ~ .view {
  opacity: 0.5;
}

html.mode-dev .view-middle,
html.mode-dev .view-menu.open {
  opacity: 1;
}

/* PROD VIEW */

/* html.mode-prod .view,
html.mode-prod .view-menu.open ~ .view {
  display: none;
}

html.mode-prod .view-decks .view-decks,
html.mode-prod .view-chapters .view-chapters,
html.mode-prod .view-questions .view-questions,
html.mode-prod .view-question .view-question,
html.mode-prod .view-answer .view-answer,
html.mode-prod .view-menu.open {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
} */

/* PROD VIEW anim */

html.mode-prod .view {
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}

html.mode-prod .view.view-middle {
  transform: translateX(0);
}

html.mode-prod .view.view-right {
  transform: translateX(100%);
}

html.mode-prod .view.view-left {
  z-index: 1;
  pointer-events: none;
  opacity: 0;
}

/* html.mode-prod .view-question .view,
html.mode-prod .view-answer .view {
  display: none;
} */

/* html.mode-prod .view-question .view-question,
html.mode-prod .view-answer .view-answer {
  transition: transform 0s;
  display: grid;
} */

html.mode-prod .view-menu.view-middle {
  display: grid;
  background-color: white;
  z-index: 1000;
}


/* html.mode-prod .view-decks .view-decks,
html.mode-prod .view-chapters .view-chapters,
html.mode-prod .view-questions .view-questions,
html.mode-prod .view-question .view-question,
html.mode-prod .view-answer .view-answer,
html.mode-prod .view-menu.open {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
} */

  /* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

  /* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */