:root {
  --main-background-color: white;
  --main-text-color: black;
  --main-link-color: blue;
  --main-border-color: grey;
}

html.mode-dev .App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px 20px;
}

html.mode-prod .App {
  position: relative;
  width: 320px;
  height: 568px;
  width: 100%;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

html.mode-dev .view {
  border: 1px solid var(--main-text-color);
  width: 320px;
  height: 568px;
  box-sizing: border-box;
}

html.mode-prod .view {
  border: 1px solid var(--main-text-color);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: var(--main-background-color);
}

.list {
  overflow-y: scroll;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
}

.view {
  display: grid;
  grid-template-columns: [a] 1fr [b];
  grid-template-rows: [a] 50px [b] auto [c] 50px [d];

  padding: 0 3%;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.content {
  padding-top: 26vh;
}

.question-text {
  display: inline-block;
}

.question-text ol {
  text-align: left;
}

.header {
  border-bottom: 1px solid var(--main-border-color);
  position: relative;
}

.header .menu-icon {
  font-size: 0.7em;
  border: 0.5px solid var(--main-border-color);
  padding: 1px 2px 1px 3px;
  border-radius: 15%;
  position: absolute;
  right: 0;
}

.header .back-icon {
  font-size: 0.7em;
  border: 0.5px solid var(--main-border-color);
  padding: 1px 2px 1px 3px;
  border-radius: 15%;
  position: absolute;
  left: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App a, .App a:visited {
  color: var(--main-link-color);
}

.external-link::after {
  content: ">";
  text-decoration: none;
  display: inline-block;
  padding-left: 0.3em;
}

/* TRANSITIONS ETC */
/* DEV VIEW */

html.mode-dev .view,
html.mode-dev .view-menu.open ~ .view {
  opacity: 0.5;
}

html.mode-dev .view-middle,
html.mode-dev .view-menu.open {
  opacity: 1;
}

/* PROD VIEW */

html.mode-prod .view {
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}

html.mode-prod .view.view-middle {
  transform: translateX(0);
}

html.mode-prod .view.view-right {
  transform: translateX(100%);
}

html.mode-prod .view.view-left {
  z-index: 1;
  pointer-events: none;
  opacity: 0;
}

html.mode-prod .view-menu.view-middle {
  display: grid;
  background-color: var(--main-background-color);
  z-index: 1000;
}

/*
  Color Themes
*/


/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    --main-background-color: black;
    --main-text-color: Snow;
    --main-border-color: Gainsboro;
    --main-link-color: blue;
  }
}

/* Retro mode */
html.theme-retro body {
  --main-background-color: black;
  --main-text-color: MediumSeaGreen;
  --main-border-color: ForestGreen;
  --main-link-color: LawnGreen;
}